@import "tailwindcss";

h1 {
  font-size: 32px;
  font-family: monospace;
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: underline;

  /* font-family: sans-serif; */
}
p {
  margin-top: 8px;
}
a:hover {
  text-decoration: underline;
  background-color: rgba(250, 250, 250);
}
